/* VARIABLES */

:root{
  --main-font-family:"Public Sans", "Arial", sans-serif;
  --dm-displey-font-family: "DM Serif Display", "Times New Roman", serif;
  --main-font-size:15px;
  --main-bg-color : #fff; 
  --dark-pink:#ba4270; 
  --wather-white: #fbfcfe; 
  --sanjun-blue : #36536b; 
  --mirage-blue:#1b262f;
  --charm-pink:#da6d97;
  --juan-blue:#6c8294;
}
