  /*article start*/
.article__users {
    text-align: center;
}
.article__title {
    font-family: var(--dm-displey-font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.246154px;
    color: #36536B;
}
 /*article finish*/