 /* Company section start */
 .copmpany {
    background-image: url("../images/Bitmap.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 11px) calc(50% - 570px);
    background-color: #1B262F;
    padding: 80px 24px;
}
.copmpany__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.copmpany__textbox {
    text-align: center;
}
.copmpany__title {
    font-family: var(--dm-displey-font-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -0.246154px;
    color: var(--wather-white);
}
.copmpany__text {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 60px;
    color: var(--wather-white);
    mix-blend-mode: normal;
    opacity: 0.7;
}
.copmpany__link {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    color: var(--wather-white);
    padding: 16px 32px;
}
.copmpany__link:hover {
    background-color: var(--wather-white);
    color: var(--mirage-blue);
}
.copmpany__list {
    @include list-unstyle;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 49px 51px;
    margin-bottom: 58px;
    align-items: center;
    text-align: center;
}
.copmpany__logo{
    width: 100px;
}
@include mobile-first (375px){
    .copmpany__title{
        font-size: 32px;
    }
    .copmpany__text{
        font-size: 13px;
    }
    .copmpany__logo{
        width: 120px;
    }
    
}
@include mobile-first (600px){
    .copmpany{
        background-position: calc(50% - 11px) calc(50% - 450px);
    }
    .copmpany__list{
        grid-template-columns: repeat(3, auto);
    }
    .copmpany__logo{
        width: 100%;
    }
    .copmpany__text{
        font-size: 16px;
    }
}
@include mobile-first (767px){
    .copmpany__list{
        grid-gap: 54px 100px;
    }
    .copmpany__textbox{
        width: 456px;
    }
    .copmpany__title{
        font-size: 48px;
    }
    .copmpany__text{
        font-size: 15px;
    }
}
@include mobile-first (1100px){
    .copmpany{
        background-position: calc(50% - 570px) calc(50% - 150px);
    }
    .copmpany__wrapper{
        justify-content: space-between;
        flex-direction: row;
    }
    .copmpany__textbox{
        text-align: start;
    }
    .copmpany__list{
        grid-gap: 54px 60px;
        margin-bottom: 0;
    }
}
/* Company section finish */