     /* HERO SECTION START */
     .hero-section{
        padding-bottom: 79px;
     }
     .hero-section__img{
        width: 150px;
        height: 223px;
        margin-right: auto;
        margin-left: auto;
    }
    .hero-section__bg{
        margin-right: auto;
        margin-left: auto;
        padding-right: 24px;
        padding-left: 24px;
    }
    .section__text-box{
        max-width: 290px;
        width: 100%;
    }
    .hero-section__title{
        font-family: var(--main-font-family);
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.246154px;
        color: #36536B;
    }
    .hero-section__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-section__input-email{
        max-width: 300px;
        width: 100%;
        margin-bottom: 16px;
        padding-top: 16px;
        padding-bottom: 14px;
        padding-left: 27px;
        border: none;
        // border: 1px solid transparent ;
        background-color: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
    }
    .hero-section__input-email:not(:placeholder-shown):not(:focus):invalid{
        // border: 1px solid red ;
    }
    .hero-section__form-btn{
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: var( --wather-white);
        max-width: 300px;
        width: 100%;
        margin-bottom: 24px;
        padding:16px 46px 14px 50px;
        background-color: var(--dark-pink);
        border-radius: 24px;
        border: none;
        cursor: pointer;
    }
    .hero-section__form-btn:hover{
        background-color: var(--charm-pink);
    }
    .hero-section__more{
        display: block;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: var(--juan-blue);
        text-align: center;
    }
    @include mobile-first(600px){
        .hero-section__img{
            width: 200px;
            height: 280px;
        }
    }
    @include mobile-first (767px){
        .hero-header-wrapper{
            background-position: center -470px;
        }
        .hero-section__form{
            position: relative;
            flex-direction: row;
            justify-content: center;
        }
        .hero-section__img{
            width: 200px;
            height: 279px;
        }
        .hero-section__input-email{
            max-width: 445px;
        }
        .hero-section__form-btn{
            position: absolute;
            top: 0;
            right: 120px;
            padding: 15px 20px;
            text-align: center;
            max-width: 173px;
        }
    }
    @include mobile-first (992px){
        .hero-header-wrapper{
            background-position: calc(50% + 20px)calc(49% - 377px);
        }
        .hero-section__bg{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }
        .hero-section__img{
            margin-right: 0;
            margin-left: auto;
            width: 280px;
            height: 465px;
        }
        .hero-section__text-box{
            width: 546px;
        }
        .hero-section__title{
            text-align: start;
            font-size: 67px;
            line-height: 72px;
            
        }
        .hero-section__form{
            width: 445px;
            justify-content: flex-start;
        }
        .hero-section__form-btn{
            right: 0;
        }
        .hero-section__more{
            text-align: start;
        }
        
    }
    
    @include mobile-first (1200px){
        .hero-header-wrapper{
            background-position: calc(50% + 460px)calc(50% - 230px);
        }
    }
    /* HERO SECTION FINISH */